.buttons {
  color: #828282;
  font-size: 0.8em;
}

button {
  background: none;
  border: none;
  color: #828282;
  padding: 0px 5px 0px 0px;
  font: inherit;
  font-size: 0.8em;
  cursor: pointer;
  text-decoration: none;
}

.buttons > :last-child {
  padding: 0px;
}

button:hover {
  text-decoration: underline;
}

span.done {
  text-decoration: line-through;
}

span.skip {
  color: #828282;
  text-decoration: line-through;
}

span.in-progress {
  font-weight: bold;
}

span.project {
  font-weight: bold;
}
